body 
{
    background-color: silver; 
}
img
{
    width: 200px;
    height: 200px;
    border: 5px solid #170202;
}
.imageRight
{
    float: right;
    margin-left: 10px;
}
.imageLeft
{
    float: left;
    margin-right: 10px;
}
nav
{
    float: right;
    font-size: 20px
}
.divideBox
{
    margin: auto;
    border: 4px solid black;
    background-color: rgb(204, 255, 0);
    padding: 7px;
}

.divideSquare
{
    margin: auto;
    border: 1px solid black;
    background-color: rgb(242, 244, 238);
    padding: 10px;
    margin-bottom: 10px;
    width: 1000px;
}
.paragraph
{
    margin: auto;
    border-radius: 5px;
    background-color: rgb(119, 214, 23);
    width: 1400px;
    border: 1px solid black;
    padding: 20px;
    float: center;
}
.header3
{

}
.bibleVerse
{
    font-family: bold;
    color: rgb(35, 29, 29);
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}
