body 
{
    background-color: silver; 
}
img
{
    width: 200px;
    height: 200px;
}
.imageRight
{
    
    
}
nav
{
    float: right;
}
div
{
    margin: auto;
    /*list-style-type: square;*/
    border: 4px solid black;
    background-color: rgb(204, 255, 0);
   /* width: 850px;*/
    padding: 7px;
}

.paragraph
{
    margin: auto;
    border-radius: 5px;
    background-color: rgb(119, 214, 23);
    width: 1400px;
    border: 1px solid black;
    padding: 20px;
    float: center;
}
.header3
{

}

.bibleVerse
{
    font-family: bold;
    color: rgb(35, 29, 29);
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}
